body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  margin: 10px;
}

h2 {
  text-align: center;
  color: #8B0000;
}

form, ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  background-color: #8B0000;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px; /* Adiciona espaço entre os botões */
}

button:hover {
  background-color: #600000;
}

/* Adiciona mais espaço entre os itens da lista */
ul {
  list-style-type: none;
  padding: 0;
  gap: 10px;
}

li {
  background-color: #f4f4f4;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #8B0000;
  border-radius: 4px;
}
